*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
section{
    max-width:427px;
    margin:8vh auto;
    height:auto;
    padding:3rem;
    -webkit-box-shadow: -1px -1px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 15px 0px rgba(0,0,0,0.75);
    box-shadow: -1px -1px 15px 0px rgba(0,0,0,0.75);
    border-radius:10px;
}
.main-order h1{
    color:violet;
}
.main-order img{
    width:100%;
    height:215px;
    border-radius:10px;
}
.main-order h3{
    font-size:1.5rem;
    margin:1rem 0rem;
    color:#FF5200;
}
.main-order h5{
    font-size:1rem;
    margin:1rem 0rem;
    color:#FF5200;
}
.details{
    width:100%;
}
input[type="text"],input[type="submit"]{
    display:block;
    width:100%;
    padding:.5rem 1rem;
    margin-bottom:1rem;
    border:2px solid #FF5200;
}
input[type="submit"]{
    background-color:#FF5200;
    cursor:pointer;
    color:#fff;
    font-size:1rem;
}